<!DOCTYPE html>
<html>

<head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Matthew Lowe | Literate Programmer</title>

	<!-- large-screen layout (exclude iphone) -->	
        <link rel="stylesheet" media="screen and (min-device-width: 481px)" type="text/css" href="css/site.css" />

	<!-- small-screen layout -->
        <link rel="stylesheet" media="handheld, screen and (max-device-width: 480px)" type="text/css" href="css/mobile.css" />

	<!-- icons -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="apple-touch-icon" href="apple-touch-icon.png" />
	<link rel="apple-touch-startup-image" href="apple-touch-startup.png" />
</head>

<body>
<img id="mainimg" src="img/pen_tablet_transparent.png"/>
<div id="content"><p>Hi. My name is Matthew Lowe, and I write both code and prose.</p>
<p>I'm currently taking new clients, so if you'd like me to write something nifty for you, give me a shout.</p>
<p>I value simplicity and kindness, and try to live up to the example of a <a id="liamlink" href="http://thewaterproject.org/liam">little person</a> who showed me both.</p>
</div>
<div id="footer">
<a href="mailto:matt@literateprogrammer.com">matt@literateprogrammer.com</a>
<br/>
<a href="tel://1-325-480-0535">325.480.0535</a>
<br/>
<a href="http://www.linkedin.com/profile/view?id=4444293">linkedIn</a>
</div>
</body>
</html> 
