<!DOCTYPE html>
<html>

<head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Liam's Wells | A Story in Color</title>

	<!-- large-screen layout (exclude iphone) -->	
        <link rel="stylesheet" media="screen and (min-device-width: 481px)" type="text/css" href="css/site.css" />

	<!-- small-screen layout -->
        <link rel="stylesheet" media="handheld, screen and (max-device-width: 480px)" type="text/css" href="css/mobile.css" />

	<!-- icons -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="apple-touch-icon" href="apple-touch-icon.png" />
	<link rel="apple-touch-startup-image" href="apple-touch-startup.png" />
</head>

<body>
<img id="mainimg" src="img/liams_wells_title.png"/>
<div id="content"><p id="titlegraf">A Story in Color</p><p>Once upon a time, five-year-old Liam Lowe got sick. He had a kind of cancer called leukemia. But instead of worrying about himself, Liam decided to help other people: people who were sick from drinking dirty, diseased water. In this exhibit you'll see Liam's colorful drawings and read his stories. You'll also see art his friends made to raise money for Liam and his beautiful wells.</p>
</div>
<div id="footer">
September 1 - 29, 2012</br>
The Center for Contemporary Arts<br/>
Second Floor, Emerging Artists Gallery<br/>
220 Cypress St<br/>
Abilene, TX 79601<br/>
Gallery Hours: Tuesday - Saturday 11-5<br/>
Open until 8 p.m. for ArtWalk on Thursday, Sept. 13<br/>
<p>
<a href="http://thewaterproject.org/liam">More about Liam's Water Project</a><br/>
<a href="http://www.reporternews.com/news/2012/sep/03/liams-legacy-and-generous-spirit-live-on-through/">Abilene Reporter-News Article</a><br/>
<a href="mailto:matthew.ryan.lowe@gmail.com">Email Us</a><br/>
</p>
</div>
</body>
</html> 
