<!DOCTYPE html>
<html>

<head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Liam's Wells</title>

	<!-- large-screen layout (exclude iphone) -->	
        <link rel="stylesheet" media="screen and (min-device-width: 481px)" type="text/css" href="css/site.css" />

	<!-- small-screen layout -->
        <link rel="stylesheet" media="handheld, screen and (max-device-width: 480px)" type="text/css" href="css/mobile.css" />

	<!-- icons -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="apple-touch-icon" href="apple-touch-icon.png" />
	<link rel="apple-touch-startup-image" href="apple-touch-startup.png" />
</head>

<body>
<img id="mainimg" src="img/hippo-logo.png"/>
<div id="content"><p>About Liam and his wells</p>
</div>
<div id="footer">
<a href="http://thewaterproject.org/liam">Water Project Site</a></div>
</body>
</html> 
