body {
	padding:		1em;
	margin:			0;
	font-family:		"verdana",sans-serif;
	background-color:	#5b3369;
}

#mainimg, #subimg {
	display:		block;
	margin:			1em auto;
}

#content {
	text-align:		center;
	font-size:		xx-large;
	font-weight:		bold;
}

#footer {
	font-size:		x-large;
	text-align:		center;
	margin-top:		2em;
	line-height:		150%;
}

a {
	text-decoration:	none;
	color:			white;
}

#liamlink {
	color:			black;
}

#titlegraf {
        font-size:              x-large;
        color:                  #fbb048;
}

.notice {
	color:			#fbb048;
}
