body {
	margin-top:		3em;
	margin-left:		auto;
	margin-right:		auto;
	width:			70%;
	font-family:		"verdana",sans-serif;
	background-color:	#858585;
	background-image:	url('../img/fabric_plaid_dark.png');
}

#mainimg {
	display:		block;
	margin:			2em auto;
}

#content {
	text-align:		center;
	font-size:		large;
	font-weight:		bold;
}

#footer {
	text-align:		center;
	margin-top:		2em;
	line-height:		150%;
}

a {
	text-decoration:	none;
	color:			#555555;
}

#liamlink {
	color:			black;
}
